// The root classname.
$ak-grid-classname: "ak-grid" !default;

// Padding between grid items.
$ak-grid-padding: 20px !default;

// Default sizes for responsive column sizes.
$ak-grid-column-sizes: xs sm md lg xl !default;
