$ak-breakpoint-extra-small: 374px !default;
$ak-breakpoint-small: 480px !default;
$ak-breakpoint-medium: 718px !default;
$ak-breakpoint-large: 1024px !default;
$ak-breakpoint-extra-large: 1292px !default;
